---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<style>
.publication{
  margin-bottom:5px;
  line-height:1.5;
}
</style>

{% if author.googlescholar %}
You can also find my articles on 
<u><a href="{{ author.googlescholar }}" target="_blank">my Google Scholar profile</a></u>.
{% endif %}

{% include base_path %}


<!-- <h2>Publications</h2> -->

<h2>Conference</h2>

<div class="publication">
<b>Swapnil Mane</b>, Suman Kundu, Rajesh Sharma.
<br>
IndicAG: An Explainable Agentic Framework for Indic-Multilingual Multidimensional Aggression Detection.
<br>
<i>Proceedings of the ACM Web Conference (WWW)</i>, 2026.
</div>

<br>

<div class="publication">
<b>Swapnil Mane</b>, Suman Kundu, Rajesh Sharma.
<br>
<a style="text-decoration: none;" href="https://ojs.aaai.org/index.php/AAAI/article/view/35045" target="_blank">
TSGAN: Temporal Social Graph Attention Network for Aggressive Behavior Forecasting
</a>.
<br>
<i>Proceedings of the AAAI Conference on Artificial Intelligence</i>, vol. 39, no. 27, pp. 28249–28257, 2025.
</div>

<br>

<div class="publication">
Vidit Garg, <b>Swapnil Mane</b>, Suman Kundu.
<br>
<a style="text-decoration: none;" href="https://link.springer.com/chapter/10.1007/978-3-032-15621-1_33" target="_blank">
MACO-Sync: Multi-agent Ant Colony Optimization for Synchronized Arrival Coordination
</a>.
<br>
<i>International Conference on Applied Algorithms</i>, Springer Nature Switzerland, pp. 403–415, 2026.
</div>

<br>

<div class="publication">
<b>Swapnil Mane</b>, Vaibhav Khatavkar.
<br>
<a style="text-decoration: none;" href="https://arxiv.org/pdf/2304.01424" target="_blank">
CascadeNS: Confidence-Cascaded Neurosymbolic Model for Sarcasm Detection
</a>.
<br>
<i>International Conference on Recent Advances in Intelligent and Sustainable Technologies (RAIST)</i>, 2026.
</div>

<br>

<div class="publication">
Vaibhav Khatavkar, <b>Swapnil Mane</b>, Parag Kulkarni.
<br>
<a style="text-decoration: none;" href="https://link.springer.com/chapter/10.1007/978-981-97-3601-0_11" target="_blank">
Event Uncertainty for Twitter Data Using Thematic Context Vector
</a>.
<br>
<i>NIELIT International Conference on Communication, Electronics and Digital Technologies</i>, Springer, pp. 135–146, 2024.
</div>

<br>

<div class="publication">
<b>Swapnil Mane</b>, Vaibhav Khatavkar.
<br>
<a style="text-decoration: none;" href="https://arxiv.org/abs/2304.01166" target="_blank">
Effective Feature Extraction for Intrusion Detection Systems using Non-negative Matrix Factorization and Univariate Analysis
</a>.
<br>
<i>SACAIM</i>, 2021.
</div>



<h2>Journals</h2>

<div class="publication">
<b>Swapnil Mane</b>, Suman Kundu, Rajesh Sharma.
<br>
<a style="text-decoration: none;" href="https://link.springer.com/article/10.1007/s10489-025-06286-8" target="_blank">
You Are What Your Feeds Make You: A Study of User Aggressive Behavior on Twitter
</a>.
<br>
<i>Applied Intelligence</i>, vol. 55, article 385, 2025.
</div>

<br>

<div class="publication">
<b>Swapnil Mane</b>, Suman Kundu, Rajesh Sharma.
<br>
<a style="text-decoration: none;" href="https://dl.acm.org/doi/10.1145/3711125" target="_blank">
A Survey on Online Aggression: Content Detection and Behavioral Analysis on Social Media
</a>.
<br>
<i>ACM Computing Surveys</i>, vol. 57, no. 7, pp. 1–36, 2025.
</div>

<br>

<div class="publication">
<b>Swapnil Mane</b>, Vaibhav Khatavkar.
<br>
<a style="text-decoration: none;" href="https://www.ijcrt.org/papers/IJCRTE020026.pdf" target="_blank">
Researchers Eye-View of Sarcasm Detection in Social Media Textual Content
</a>.
<br>
<i>International Journal of Creative Research Thoughts (IJCRT)</i>, vol. 9, issue 8, pp. 150–157, 2021.
</div>
